<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Brewers Project</title>        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="http://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" rel="stylesheet">
    </head>
    <body>
      <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Major_League_Baseball_logo.svg/1920px-Major_League_Baseball_logo.svg.png" style="height:40px;"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a> 
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <br/>          
          <div class="container-fluid">
            <div id="player"></div>
          </div>        
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="http://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>      
      $(document).ready(function(){
        var link = "http://brew-roster-svc.us-e2.cloudhub.io/api/player/<%= playerInfo.params.player %>"
        console.log(link);
        $.ajax({
            type: "GET",
            url: link,
            headers: { "api-key": "<%= apiKey %>" },
            success: function(result){              
              $("#player").html(                
                "<table class='table table-striped' style='width: 240px;'><tbody>"
                + "<tr><td colspan='2'><img src='" + result.picture + "''><h4>" + result.firstName + " " + result.lastName + "</h4></td></tr>"
                + "<tr><th>Position:</th><td>" + result.primaryPosition + "</td></tr>"
                + "<tr><th>Batting Stance:</th><td>" + result.batSide + "</td></tr>"
                + "<tr><th>Throwing Stance:</th><td>" + result.throwSide + "</td></tr>"
                + "<tr><th>Number:</th><td>" + result.number + "</td></tr>"
                + "<tr><th>Birth City:</th><td>" + result.birthCity + "</td></tr>"
                + "<tr><th>Birth State:</th><td>" + result.birthStateProvince + "</td></tr>"
                + "<tr><th>Birth Country:</th><td>" + result.birthCountry + "</td></tr>"                
                + "</tbody></table>"
              )
            }
        });
      });
    </script>
</html>